main.content
  .content-header.ui-content-header
    .container
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          h1.content-heading= site_title
          h4.content-heading= site_irc
  .container
    if user
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          section.content-inner.margin-top-no
            .card
              .card-main
                .card-header
                  .card-inner
                    h1.card-heading Chat
                  .card-header-side.card-action-btn.pull-right
                    a.btn.btn-flat.waves-attach.waves-effect.collapsed(data-toggle="collapse", href="#chats")
                      span.collapsed-hide Close
                      span.collapsed-show Open
                #chats.card-inner.collapse.collapsible-region.chats.row
                .card-action.chat-action
                  .card-action-btn.form-group.row
                    form#chats
                      .col-md-8.col-md-offset-1
                        input.form-control(type="text", placeholder="Type messages here ...")
                      .col-md-2
                        button.btn.btn-sora.form-control(type="submit") Send
    .row
      .col-md-8.col-md-offset-2.col-xs-12
        section.content-inner.margin-top-no
          .card
            .card-main
              .card-header
                .card-inner
                  if post
                    h1.card-heading= post.title
                  else if project
                    h1.card-heading= project.title
                  else if download
                    h1.card-heading= 'Download: ' + download.title
                  else
                    h1.card-heading Releases
              .card-inner.margin-bottom-no
                if post
                  ul.breadcrumb
                    li
                      a(href="/") Home
                    li
                      a(href="/projects/" + post.project.slug)= post.project.title
                    li.active
                      a= post.title
                block body
              if project
                .card-action
                  .card-inner.margin-bottom-no
                    div#disqus_thread
                    script.
                      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                      var disqus_shortname = 'sora-iro'; // required: replace example with your forum shortname

                      /* * * DON'T EDIT BELOW THIS LINE * * */
                      (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                    noscript Please enable JavaScript to view the
                      a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.
              .card-action
                .card-action-btn.pull-right
                  if pages
                    if !pages.prev <= 0
                      a.btn.btn-flat.waves-attach(href=pages.uri + pages.prev)
                        span.icon chevron_left
                    if pages.next != false
                      a.btn.btn-flat.waves-attach(href=pages.uri + pages.next)
                        span.icon chevron_right
