header.header.header-transparent.header-color-black.header-waterfall.ui-header
  ul.nav.nav-list.pull-left
    li
      a(data-toggle="menu", href="#ui_menu")
        span.icon.icon-lg menu
  a.header-logo.header-affix-hide.margin-left-no.margin-right-no(data-offset-top="213", data-spy="affix", href="/")= site_title
  a.header-logo.header-affix.margin-left-no.margin-right-no(data-offset-top="213", data-spy="affix", href="/")= site_title
  ul.nav.nav-list.pull-right
    li.dropdown.margin-right
      a.dropdown-toggle.padding-left-no.padding-right-no(data-toggle="dropdown")
        if user
          span.access-hide user.firstName user.lastName
          span.avatar.avatar-sm
            img(avatar=user.firstName + ' ' + user.lastName)
        else
          span.avatar.avatar-sm
            img(alt="Guest", src="/node_modules/daemonite-material/images/users/avatar-001.jpg")
      ul.dropdown-menu.dropdown-menu-right
        if user
          li
            - var dashboard = (user.role_id != 3) ? '/backend/dashboard' : ''
            a.padding-right-lg.waves-attach(href=dashboard)
              span.icon.icon-lg.margin-right verified_user
              span= 'Hi, '
                strong
                = user.firstName + ' ' + user.lastName
          li
            a.padding-right-lg.waves-attach(href="/auth/logout")
              span.icon.icon-lg.margin-right exit_to_app
              | Logout
        else
          li
            a.padding-right-lg.waves-attach(href="/auth/signup")
              span.icon.icon-lg.margin-right perm_identity
              | Create an Account
          li
            a.padding-right-lg.waves-attach(href="/auth/login")
              span.icon.icon-lg.margin-right exit_to_app
              | Sign In
